@charset 'utf-8';

html,
body {
  margin: 0;
}

body {
  background: white;
  border-top: 4px solid black;
  color: #444;
  font-family: 'helvetica neue', helvetica, arial, geneva, sans-serif;
  font-size: 18px;
  padding: 8%;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

a:hover,
a:active {
  border-bottom: 3px solid #DDD;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin: 0.2em 0 2em 0;
}

p,
li {
  line-height: 1.4em;
}

ul {
  list-style-type: none;
  margin-top: 2.8em;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 20px 24px 0;
  -webkit-transition: 0.2s linear all;
}

li a {
  border: 3px solid #DDD;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  display: block;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 64px;
  text-align: center;
  height: 64px;
  -webkit-transition: 0.3s linear all;
  width: 64px;
}

li a:hover {
  border-color: #666;
}

.wrapper {
  max-width: 500px;
}

@media screen and (max-width: 500px) {
  ul {
    text-align: center;
  }

  li {
    margin: 0 10px 14px 0;
  }
}
