<div class='wrapper'>
  <h1>I&#8217;m Max Schoening.</h1>

  <h2>I design software at <a href='http://www.heroku.com/'>Heroku</a>.</h2>

  <p>
    I spend most of my time thinking about <strong>product design</strong>,
    <strong>user interfaces</strong>, <strong>the art of programming</strong>,
    and <strong>customer value</strong>.
  </p>

  <p>
    Previously I started <a href='http://www.getcloudapp.com/'>CloudApp</a>.
  </p>

  <ul>
    <li><a href='http://github.com/max'>Gi</a></li>
    <li><a href='http://dribbble.com/mschoening'>Dr</a></li>
    <li><a href='http://twitter.com/mschoening'>Tw</a></li>
  </ul>
</div>
